<button (click)="getPosts()">Get Posts</button>
<button (click)="getPost(1)">Get Post</button>
<button (click)="getPostComment(1)">Get Post Comment</button>
<button (click)="getPostByUser(1)">Get Posts By User</button>
<button (click)="addPost()">Add post</button>
<button (click)="getPostAsResponse(1)">Get post as response</button>
<button (click)="getPostsObs()">Get PostsObs</button>
<button (click)="getPostsBehaviorub()">Get PostsObs Behvaior</button>

<div *ngFor="let item of allPosts$ | async">
  {{item.body}}
</div>

